<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&family=Source+Code+Pro:wght@500&family=Noto+Sans+Symbols+2&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/default.css">
  {%- include custom-head.html -%}
  <title>{{ page.title }}</title>
</head>
<body>
  <header>
    <nav><a href="{{ site.url }}">Home</a></nav>
  </header>
  <main>
    {{ content }}
    <ul class="notes">
    {% for note in site.notes %}
      <li><a href="{{ note.url | relative_url }}">{{ note.title }}</a></li>
    {% endfor %}
    </ul>
  </main>
</body>
</html>
